node_modules/
dist/
build/
.env
.vscode
images

.DS_Store
coverage/lcov.info
coverage/lcov-report/Util/Validator.js.html
coverage/lcov-report/Util/index.html
coverage/lcov-report/styles/profilestyle.tsx.html
coverage/lcov-report/styles/index.html
coverage/lcov-report/sorter.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/Redux/store.tsx.html
coverage/lcov-report/Redux/Reducers/UserReducer.tsx.html
coverage/lcov-report/Redux/Reducers/index.tsx.html
coverage/lcov-report/Redux/Reducers/index.html
coverage/lcov-report/Redux/index.tsx.html
coverage/lcov-report/Redux/index.html
coverage/lcov-report/Redux/action-creator/index.tsx.html
coverage/lcov-report/Redux/action-creator/index.html
coverage/lcov-report/prettify.js
coverage/lcov-report/prettify.css
coverage/lcov-report/pages/register.tsx.html
coverage/lcov-report/pages/profile/index.tsx.html
coverage/lcov-report/pages/profile/index.html
coverage/lcov-report/pages/postJob.tsx.html
coverage/lcov-report/pages/jobListing.tsx.html
coverage/lcov-report/pages/index.html
coverage/lcov-report/pages/home.tsx.html
coverage/lcov-report/pages/api/index.html
coverage/lcov-report/pages/api/api.ts.html
coverage/lcov-report/index.html
coverage/lcov-report/favicon.png
coverage/lcov-report/components/Search/Search.tsx.html
coverage/lcov-report/components/Search/index.html
coverage/lcov-report/components/Profile/WorkExperience.tsx.html
coverage/lcov-report/components/Profile/Volunteering.tsx.html
coverage/lcov-report/components/Profile/Skills/Skills.tsx.html
coverage/lcov-report/components/Profile/Skills/index.html
coverage/lcov-report/components/Profile/Recommendations.tsx.html
coverage/lcov-report/components/Profile/PersonalProjectsProfile.tsx.html
coverage/lcov-report/components/Profile/index.html
coverage/lcov-report/components/Profile/education.tsx.html
coverage/lcov-report/components/Profile/Courses.tsx.html
coverage/lcov-report/components/Profile/Awards.tsx.html
coverage/lcov-report/components/NavBar.tsx.html
coverage/lcov-report/components/Layout.tsx.html
coverage/lcov-report/components/jobListing/TopHeader.tsx.html
coverage/lcov-report/components/jobListing/SubmitAppForm.tsx.html
coverage/lcov-report/components/jobListing/SkillsListing.tsx.html
coverage/lcov-report/components/jobListing/JobInfoBoxes.tsx.html
coverage/lcov-report/components/jobListing/JobDescription.tsx.html
coverage/lcov-report/components/jobListing/index.html
coverage/lcov-report/components/index.html
coverage/lcov-report/block-navigation.js
coverage/lcov-report/base.css
coverage/coverage-final.json
coverage/clover.xml
